---
import MyLayout from '../layouts/layout.astro';
import Square from '../artworks/square.png';
import Rectangle from '../artworks/rectangle.png';
import Oval from '../assets/oval frame.png';
import Circle from '../assets/circular frame.png';
import Burger from '../assets/burgermenu.png';
---
<MyLayout title="Home Page">
	<header>
        <div class="logo">
            <h1><a href="index.html" class="logo-title active">My Portfolio</a></h1>
        </div>
        <nav>
            <li><a href="about.html" class="menu-item">About me</a></li>
            <li><a href="contact.html" class="menu-item">Contact me</a></li>
			<img src={Burger.src} alt="" class="burger">
		</nav>
    </header>

<main>
		<div class="intro">
			<h2 class="title">My Portfolio</h2>
			<a href="#squareFrame" class="arrow" id="arrow"><h3>&#8595</h3></a>
		</div>
		<div class="frames offset">
			<img src={Square.src} alt="" id="squareFrame" class="squareFrame artwork" >
			<img src={Oval.src} alt="" class="ovalFrame">
			<img src={Circle.src} alt="" class="circleFrame">
			<img src={Rectangle.src} alt="" class="rectangleFrame">
		</div>
</main>

</MyLayout>